ipython==8.27.0
llama_index==0.12.52
protobuf==4.25.3
python-dotenv==1.1.1
setuptools==80.9.0
streamlit==1.37.1
llama-index-embeddings-huggingface==0.5.5
llama-index-core
llama-index-embeddings-langchain==0.3.0